.panel {
    display: grid;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 17px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns:22.36% auto;
    grid-template-rows: 100px 1600px; /* change rows to move footer*/
    column-gap: 1.66%;
}

.left-panel {
    height: 560px;
    background-color: #fbfbfb;
    border-radius: 7px;
    font-weight: bold;
} 

.right-panel {
    display: grid;
    height: 1517px;
    row-gap: 24px;
    background-color: transparent;
}

.upper-right-panel {
    display: grid;
    height: 445px;
    width: 1010px;
    background-color: #fbfbfb;
    padding: 20px;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    border-radius: 7px;
}

.big-text {
    padding: 10px;
    font-size: 36px;
}

.search {

    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(221, 226, 219);
    width: 283px;
    height: 27px;
    box-sizing: border-box;
    height: 27px; /* Ensure this is enough after padding is considered */
    padding: 10px; /* Example padding that fits within the height */
}

.search-input {
    font-size: 13px;
    font-style: italic;
    font-family: 'Calibri', sans-serif;
    color: rgb(129, 133, 130);
    outline: none;
    border: none;
    background-color: transparent;
    width: 283px;
    height: 27px;
    box-sizing: border-box;
    height: 27px; /* Ensure this is enough after padding is considered */
    padding: 10px; /* Example padding that fits within the height */
}

/* added left marging because padding-left didn't work */
.left-panel .search {
    margin-left: 10px;  
}

.categories{
    padding-top: 15px;
    padding-left: 10px;
    font-size: 24px;
    color: #3e3e3e;
    height: 245px;
}

.create-button {
    display: grid;
    justify-content: center;
    align-items: center;  
}

.create-button-link {
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 56px;
    color: #fbfbfb;
    text-decoration: none; /* Optional: Removes underline from links */
    font-size: 20px;
    background-color: #31572C; /* wtf hvorfor skifter den ikke farve*/
    border-radius: 10px;
    margin-right: 10px;
    border: 2px solid #31572C;
}

.create-button-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.left-panel .create-button{
    display: flex;
    flex-direction: column; /* Stack children elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding-left: 10px;
    margin-left: 10px; 
    margin-top: 15px; 
}

.category-buttons{
    padding-top: 5px;
}

.friends-pic {
    padding-left: 10px;
}

.your-events {
    display: grid;
    grid-template-columns: 154px auto; /* Adjust this to match image width and content width */
    grid-template-rows: auto 2px auto 2px auto; /* Rows for content and lines */
    row-gap: 10px; /* Maintaining the 10px gap */
    background-color: transparent;
    align-items: start; /* Ensure alignment of items at the start */
    padding-left: 0; /* Remove padding if present */
}

.pic{
    width: 154px;
    height: 108px;
}
.medium-text {
    font-size: 24px;
    padding-bottom: 16px;
}

.attending, .favourites, .organizer {
    display: grid;
    grid-template-columns: 154px auto;
    gap: 27px;
    align-items: start;
    background-color: transparent;
    height: 108px;
    width: 1010px;
}

.attending-pic, .favourites-pic, .organizer-pic {
    width: 154px; /* fixed width matching grid column */
    height: 108px; /* specified height */
}

.favourites-box, .attending-box, .organizer-box{
    display: grid;
    grid-template-columns: auto auto; /* Define two columns */
    justify-content: start; /* Align items to the start of the grid */
    gap: 10px; /* Space between the icon and text */
    align-items: center; /* Center items vertically */
    width: 88px; /* Adjust width as needed, or keep as is */
    height: 21px; /* Exact height */
    background-color: #31572C;
    color: #fbfbfb;
    border-radius: 7px;
    padding-left: 5px; /* Add some padding inside the box */
    font-weight: bold;
    grid-column: 2; /* Explicitly place in the second column */
    font-size: 18px;
}

.favourites-event-icon, .attending.event-icon, .organizer-event-icon{
    width: 14px;
    height: 18.5px;
}
.favourites-event-box-text, .attending-event-box-text, .organizer-event-box-text {
    justify-self: start; /* Start align this text to make it close to the icon */
    font-size: 12px;
}

.event-box-text {
    font-size: 12px; /* Text styling */
}

.date {
    padding-top: 7px;
    font-size: 10px;
    color: #717171;
}

.event-discription{
    padding-top: 14px;
    font-size: 20px;
    color: #393939;
    font-weight: bold;
}

.address {
    padding-top: 8px;
    font-size: 11px;
    color: #393939;
    font-weight: bold;
}

.line {
    grid-column: 1 / -1; /* Extend line across all columns */
    width: 68.57%; /* 720px(line length)\1050px (right panel) */
    height: 1px; /* As specified */
    background-color: #31572C; /* Assuming the line should be green */
    justify-self: center; /* Center the line horizontally within the grid column */
    margin-left: 18px;
}

/* JENNIES */

.lower-right-panel{
    position: relative;
    background-color: #fbfbfb;
    border-radius: 10px;
    height: 1000px;
    width: 1050px;
}

/* Filters */
.filter-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 36px; /* Gap between the filter-items*/
    margin-bottom: 20px; /* Add margin to separate from cards */
    background-color: #fbfbfb;
    margin: 15px;
}

.filter-item {
    display: grid;
    background-color: #fbfbfb;
    border-radius: 3px;
    border: 1.5px solid #31572C; /* Add border */
    color: #4c4c4c;
    width: 170px;
    grid-template-columns: auto 1fr; /* Image takes up auto width, text takes up remaining width */
    align-items: center;
    font-size: 12px;
    grid-template-columns: auto auto; /* Define two columns */
    justify-content: center;
}


.filter-item:hover {
    cursor: pointer;
    opacity: 0.8;
}

 /* Cards */
 .container {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
    justify-items: center;
    background-color: #fbfbfb;
    height: 725px;
}

.cards{
    background-color: #fbfbfb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    display: block;
    width: 320px;
    height: auto;
    position: relative;
}

.image-section img {
    width: 100%; /* Limit the width of the image to 100% of its container */
    display: block; /* Ensure the image behaves as a block element */ 
    height: auto; /* Set a fixed height for the container */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.content{
    line-height: 7px;
    padding-bottom: 20px;
    margin-left: 7px;
    color: #6A6A6A; 
}

.content h3{
    color: #3D3D3D;
    font-weight: bold;
    font-size: 15px;
}

.content p{
    font-size: 10px;
    font-weight: bold;
}

.more-button {
    position: absolute; /* Gør knappen absolut positioneret */
    bottom: 10px; /* Afstand fra bunden */
    right: 10px; /* Afstand fra højre */
    color: #000000;
    font-weight: lighter;
    font-size: 12px;
    text-decoration: none;
}

.explore-events h2 {
    margin-left: 15px;
}

.show-button {
    width: 80px;
    height: 35px;
    border-radius: 60px;
    border: 1px solid #31572C; /* px og solid skal stå så border kommer frem */
    background-color: transparent;
    color: #31572C;
}

.center-show-button {
    display: grid;
    width: 1050px;
    justify-content: center; /* Center vertically */
    text-align: center;
}

.show-button:hover {
    background-color: #31572C;
    border: 1px solid #31572C; /* px og solid skal stå så border kommer frem */
    color: #fbfbfb;
    cursor: pointer;
}

 /* IDAS CODE 
 /* Style for the modal */
.modal {
    display: none; /* Skjul modal som standard if we want it infront to begin with write 'block' */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Baggrundsfarve og gennemsigtighed */
  }
  
  /* Style for the modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrer modalen vertikalt og 15% fra toppen */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* 80% af vinduets bredde */
    border-radius: 8px;
  }
  
  /* Style for close button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Custom styling for radio buttons */
  input[type="radio"] {
    display: none; /* Skjul radio-knapperne */
  }
  
  .custom-radio {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #31572C;
    opacity: 0.6;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }

  .custom-radio:hover {
    opacity: 0.8;
  }
  
input[type="text"]{
    width: 90%;
    border: none;
    background-color: #f1f1f1f1;
    border-radius: 8px;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 90%;
    border: none;
    background-color: #f1f1f1f1;
    border-radius: 8px;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
}

  /* Style for radio buttons when checked */
  input[type="radio"]:checked + .custom-radio {
    background-color: #31572C;
    opacity: 1;
  }

  /* Style for buttons */
  .opretbtn {
    background-color: #31572C;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
  }

  .opretbtn:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    background-color: #31572C;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 97.5%;
    opacity: 0.6;
    border: none;
  }

  .cancelbtn:hover {
    opacity: 0.8;
  }
  
  /* Style for horizontal line */
  hr {
    border: 0.5px solid #ccc;
    margin-bottom: 20px;
  }
  
  /* Flexbox styling for button container */
  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .botton-container {
    margin-top: 20px;
  }
  

  .custom-radio {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    padding-right: 50px; /* centreret 50/50 (på hver side) */
    margin-right: 20px; /* Just for spacing */
    cursor: pointer;
  }
  
  .custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .radio-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px; /* Just an example value */
    height: 20px; /* Just an example value */
    border-radius: 8px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .form-group label {
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group div {
    margin-top: 5px;
  }

.image-upload {
    margin: 8px;
}
    
/* popup begivenhed */
label {
  display: block; /* Viser label som et blokelement */
  margin-bottom: 4px; /* Afstand under label */ }

.psw {
display: block; /* Ændrer til blok for at stå på sin egen linje */
}

/* Global styles */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Flexbox styles for form and image container */
.flex-container {
display: grid;
justify-content: center;
align-items: center;
}

/* login container styles */
.popup-container {
width: 916px;
height: 1023px;
background-color: white;
text-align: center;
margin-bottom: 8px;
border-radius: 9.6px; /* runde hjørner */
padding-left: 16px;
padding-right: 16px;
padding-bottom: 16px;
margin-left: 235px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* drop shadow */
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 1;
grid-row-end: 3;
}

/* Input and button styles */
input[type=text], input[type=password], button {
width: 100%;
padding: 9.6px;
margin: 6.4px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
  background-color: #31572C;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 13.6px;
  width: 161.6px;
  height: 37.6px;
  font-size: 16px;
  grid-row: 3;        /* Position button in the third row */
  justify-self: right; /* Center horizontally in its cell */
  margin-right: 18.4px;
}

button:hover {
opacity: 0.8;
}
/* opret bruger pop-up styles */
.popup-modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
padding-top: 5px;
} 

.popup-modal-content {
background-color: #FBFBFB;
margin: 4% auto;
padding: 16px;
border-radius: 6.4px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.close {
position: absolute;
right: 28px;
top: 12px;
font-size: 24px;
color: #333;
cursor: pointer;
}

.popup-panels {
  display: grid;
  grid-template-columns: 329.6px 528.8px; /* Widths of left and right popup respectively */
  grid-gap: 57.6px; /* Optional: space between columns */
  margin-top: 17.6px;
}
.popup-header {
  width: 916px;
  height: 101.6px;
  padding-left: 16px;
  display: grid; /* Use grid layout */
  grid-template-columns: auto auto; /* Adjust the proportion as needed, auto auto splits the space */
  align-items: center; /* Vertically center all items */
  justify-content: space-between; /* Adjust the space between the two sections */
  margin-bottom: 8px;
}

.popup-header-text {
  font-size: 25.6px;
}

.left-popup {
  width: 329.6px;
  height: 890.4px;
  display: grid;                /* Set the display to grid */
  place-items: center;          /* Shortcut to align items centrally both horizontally and vertically */
  background-color: #FBFBFB;  
  border-radius: 9.6px;
}

.right-popup {
  width: 528.8px;
  height: 890.4px;
  display: grid;                    /* Using grid layout */
  grid-template-rows: auto 1fr auto; /* Three rows: for the content, spacing, and the button */
  grid-template-columns: 100%;      /* Full width */
  place-items: center;              /* Center items horizontally */
  background-color: #FBFBFB;  
  border-radius: 9.6px;
}

.content-text {
  width: 482.4px;
  height: 443.2px;
  justify-self: center; 
}

.right-popup-pic {
    position: relative; /* Make this a positioning context */
    display: grid; /* Use grid layout if necessary */
    width: 100%; /* Ensures it takes the full width of its parent */
    height: auto; /* Height is as tall as its content */
}

.popup-event-pic {
    grid-area: 1 / 1 / 2 / 2; /* Covers the entire grid */
    border-radius: 12px;
}

.payment-icon {
    position: absolute; /* Positioned absolutely within relative container */
    right: 20px; /* Place it 10px from the right edge */
    top: 8px; /* Place it 10px from the bottom edge */
    z-index: 10; /* Ensure it's on top */
}

.popup-header-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
  gap: 23.2px; /* Adds a 29px gap between each icon */
  justify-content: center; /* Center the icons as a group (if there's extra space) */
  align-items: center; /* Vertically centers the icons */
}

.popup-header .popup-header-icons {
  margin-right: 31.2px;
}

.left-popup-age-name {
  width: 307.2px;
  height: 105.6px;
  padding-left: 7.2px;
}


.left-popup-interestcategory {
  display: grid;
  grid-template-rows: 32px;
  width: 307.2px;
  height: 125.6px;
}

.left-popup-price {
  width: 307.2px;
  height: 98.4px;
}

.left-popup-number-text-attending {
  width: 307.2px;
  height: 120px;
}

.left-popup-adress {
  display: grid;
  width: 307.2px;
  height: 359.2px;
  justify-content: start; /* Center the icons as a group (if there's extra space) */
  align-items: start; /* Vertically centers the icons */
}

.map {
    width: 283.2px;
    height: 284.8px;
}

.left-popup-age-name, .left-popup-interestcategory, .left-popup-price, .left-popup-number-text-attending, .left-popup-adress {
margin: 0 auto; /* Centers horizontally */
}

.left-popup-age-name {
display: grid;
grid-template-columns: 102.4px auto; /* 1fr takes remaining space, auto takes space as needed by content */
gap: 4px; /* Adjust the gap as needed */
align-items: center; /* Align items vertically in the center */
width: 307.2px;
height: 105.6px;
}

.age-icon-number {
display: grid;
grid-template-columns: 12.8px auto; /* Allocates enough space for the icon and the number based on their content */
gap: 4px; /* Sets a 5px gap between the grid items */
align-items: center; /* Vertically centers the items in their row */
justify-content:start;
padding-left: 1.6px;
}

.name {
display: grid;
align-items: start; /* Aligns items to the start vertically */
justify-content: start; /* Aligns content to the start horizontally */
}

.garn-box {
  display: grid;
  border-radius: 48px;
  border: 1px solid #31572C; /* px og solid skal stå så border kommer frem */
  width: 68px;
  height: 28px;
  align-content: center;
  font-size: 12px;
  color: #4D4D4F;
}

.krea-box {
  display: grid;
  border-radius: 60px;
  border: 1px solid #31572C; /* px og solid skal stå så border kommer frem */
  width: 62.4px;
  height: 28px;
  align-content: center;
  font-size: 12px;
  color: #4D4D4F;
}

.bekendtskaber-box {
  display: grid;
  border-radius: 48px;
  border: 1px solid #31572C; /* px og solid skal stå så border kommer frem */
  width: 134.4px;
  height: 28px;
  align-content: center;
  font-size: 12px;
  color: #4D4D4F;
}

.får-box {
  display: grid;
  border-radius: 48px;
  border: 1px solid #31572C; /* px og solid skal stå så border kommer frem */
  width: 56px;
  height: 28px;
  align-content: center;
  font-size: 12px;
  color: #4D4D4F;
}

.interestcategory-box {
  width: 221.6px;
  height: 91.2px;
  margin-left: 7.2px;
}

.row1 {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-rows: 32px;
  grid-template-columns: 69.6px 64px;
  padding-top: 13.6px;
  column-gap: 4.8px;
}

.row2 {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-rows: 37.6px;
  grid-template-columns: 136px 57.6px;
  padding-top: 8px;
  column-gap: 4.8px;
}

.popup-interestcategory {
  display: grid;
  height: 17.6px;
  justify-content: start; /* Aligns content to the start horizontally */
  margin-left: 7.2px;
}

.left-popup-price-top {
  text-align: start;  /* Aligns text to the start vertically */ 
  height: 12px;
  margin-left: 7.2px;
}

.left-popup-price-bottom {
  width: 272px;
  text-align: start;  /* Aligns text to the start vertically */ 
  margin-bottom: 12px; 
  color: #4D4D4F;
  margin-left: 7.2px;
  font-size: 12.8px;
}

.left-popup-number-text-attending {
  text-align: start;  /* Aligns text to the start vertically */ 
}

.number-text-attending {
  display: grid;
  margin-left: 7.2px;
  grid-template-rows: 32px 32px 32px;
}

.left-popup-adress-text {
  text-align: start;
  margin-left: 7.2px;
}

.adress-time {
  color: #4D4D4F;
}

.content-text {
  text-align: start;
}

.intro-text {
  width: 464px;
  line-height: 20px;
}

.popup-line {
  grid-column: 1 / -1; /* Extend line across all columns */
  width: 948px; /* Set the specific width */
  height: 0.8px; /* As specified */
  background-color: #31572C; /* Assuming the line should be green */
  justify-self: center; /* Center the line horizontally within the grid column */
  margin-left: -16px;
}

.left-popup-profile {
  margin-left: 10px;
}

.popup-modal {
  display: none; /* Skjul modal som standard if we want it infront to begin with write 'block' */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Baggrundsfarve og gennemsigtighed */
}