<div class="panel">
    
    <div class="left-panel">
        <div class="begivenheder">Begivenheder</div>

        <div class="search">
            <input class="search-input" type="search" placeholder="Søg efter begivenheder">
        </div>

        <div class="categories">Kategorier
            <div class="category-buttons">
                <a class="cetagory-pictures"><img src="assets/category-icon.png" alt="Categories" style="width: 260px;"></a>
            </div>
            <div class="floating-scrollbar"></div> 
        </div>

        <div class="create-button">
            <a mat-flat-button href="https://www.google.com/" target="_blank" class="create-button-link">Opret ny begivenhed</a>
        </div>

    </div>
    
    <div class="right-panel">right panel</div>
    
</div>

