
<div class="panel">
    
    <div class="left-panel">
        <div class="big-text">Begivenheder</div>

        <div class="search">
            <input class="search-input" type="search" placeholder="Søg efter begivenheder">
        </div>

        <div class="categories">Kategorier
            <div class="category-buttons">
                <a class="category-pictures"><img src="assets/category-icon.png" alt="Categories" style="width: 260px;"></a>
            </div>
            <div class="floating-scrollbar"></div> 
        </div>

        <div class="create-button">
            <a mat-flat-button href="https://www.google.com/" target="_blank" class="create-button-link">Opret ny begivenhed</a>
        </div>

        <div class="friends">
            <div class="big-text">Venner</div>
            <div class="friends-pic">
                <a class="friend-profile-pic"><img src="assets/friends-pic.svg" alt="Friends-profile-pic" ></a>
            </div>
        </div>
    </div>
    <div class="right-panel">
        <div class="upper-right-panel">
            <div class="medium-text">Dine begivenheder</div>
            <div class="your-events">
    
                <div class="attending">
                    <div class="left-attending">
                        <div class="attending-pic">
                            <a routerLink="/attending" class="pic"><img src="assets/attending-pic.png" alt="Attending" ></a>
                        </div>
                    </div>
                    <div class="right-attending">
                        <div class="attending-box">
                            <div class="attending-icon">
                                <a routerLink="/attending-icon" class="attending-event-icon"><img src="assets/attending-icon.svg" alt="Attending"></a>
                            </div>
                            <div class="attending-event-box-text">Attending</div>
                        </div>    
                        <div class="date">ON. 3. APRIL KL. 19:00</div>
                        <div class="event-discription">Fælles drink aften</div>
                        <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
                    </div>
                </div>
    
                <div class="line"></div>
    
                <div class="favourites">
                    <div class="right-favourites">
                        <div class="favourites-pic">
                            <a routerLink="/favourites" class="pic"><img src="assets/favourites-pic.png" alt="Favourites"></a>
                        </div>
                    </div>
                    <div class="left-favourites">   
                        <div class="favourites-box">
                            <div class="favourites-icon">
                                <a routerLink="/favourites-icon" class="favourites-event-icon"><img src="assets/favourites-icon.svg" alt="Favourites"></a>
                            </div>
                            <div class="favourites-event-box-text">Favoritter</div>
                        </div>                
                        <div class="date">ON. 10. APRIL KL. 15:00</div>
                        <div class="event-discription">Strikkeeftermiddag</div> 
                        <div class="address">Egevænget 89, 3660 Liseleje</div>
                    </div>
                </div>
    
                <div class="line"></div>
    
                <div class="organizer">
                    <div class="left-organizer">
                        <div class="organizer-pic">
                            <a routerLink="/organizer" class="pic"><img src="assets/organizer-pic.png" alt="Organizer"></a>
                        </div>
                    </div>
                    <div class="right-organizer">
                        <div class="organizer-box">
                            <div class="organizer-icon">
                                <a routerLink="/organizer-icon" class="organizer-event-icon"><img src="assets/organizer-icon.svg" alt="Organizer"></a>
                            </div>
                            <div class="organizer-event-box-text">Organizer</div>
                        </div>  
                        <div class="date">FR. 24. MAJ KL. 18:00</div>
                        <div class="event-discription">Fælles drink aften</div>
                        <div class="address">Suesongade 89, 9000 Aalborg</div>
                    </div>  
                </div>
    
                <div class="line"></div>
    
            </div>

        </div> 
        <!-- JENNIES Her slutter explore-cards -->  
        <div class="lower-right-panel">
            <div class="explore-events">
                <h2>Opdag Begivenheder</h2>
                <div class="filter-container">
                    <div class="filter-item">
                        <img src="assets/min-lokation.svg" alt="Image" style="height:20px; width: 30px;">Min lokation
                     </div>
                    <div class="filter-item">
                        <img src="assets/dato.svg" alt="Image" style="height:20px; width: 30px;">Dato
                    </div>
                    <div class="filter-item">
                        <img src="assets/tidspunkt.svg" alt="Image" style="height:20px; width: 30px;">Tidspunkt
                    </div>
                    <div class="filter-item">
                        <img src="assets/venner.svg" alt="Image" style="height:20px; width: 30px;">Venner
                    </div>
                    <div class="filter-item">
                        <img src="assets/interesser.svg" alt="Image" style="height:30px; width: 30px;">Interesser
                    </div>
                </div>
                <div class="container"> 
                    <div class="cards">
                        <div class="image-section img-one">
                            <img src="assets/img-one.jpg" alt="Image" style="height:222px; width: 355px;">
                        </div>
                        <div class="content">
                            <p>LØ. 2. JUNI KL 19:00</p>
                            <h3>Klatring</h3>
                            <p>9000, Aalborg (Lokation kommer)</p>
                            <a href="https://www.google.com/" class="more-button">Læs mere..</a>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="image-section img-two">
                            <img src="assets/img-two.jpeg" alt="Image" style="height:222px; width: 355px;">
                        </div>
                        <div class="content">
                            <p>SØ. 31. JUNI KL 12:00</p>
                            <h3>Keramikkursus</h3>
                            <p>9000, Aalborg (Lokation kommer)</p>
                            <a href="https://www.google.com/" class="more-button">Læs mere..</a>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="image-section img-three">
                            <img src="assets/img-three.jpeg" alt="Image" style="height:222px; width: 355px;">
                        </div>
                        <div class="content">
                            <p>LØ. 6. JULI KL 13:00</p>
                            <h3>Vandretur - Egholm rundt</h3>
                            <p>9000, Aalborg (Lokation kommer)</p>
                            <a href="https://www.google.com/" class="more-button">Læs mere..</a>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="image-section img-one">
                            <img src="assets/tennis.jpeg" alt="Image" style="height:222px; width: 355px;">
                        </div>
                        <div class="content">
                            <p>LØ. 2. JULI KL 15:00</p>
                            <h3>Tennis</h3>
                            <p>9000, Aalborg (Lokation kommer)</p>
                            <a href="https://www.google.com/" class="more-button">Læs mere..</a>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="image-section img-two">
                            <img src="assets/picnic.jpeg" alt="Image" style="height:222px; width: 355px;">
                        </div>
                        <div class="content">
                            <p>SØ. 10. JULI KL 12:00</p>
                            <h3>Grillhygge i Østre Anlæg</h3>
                            <p>9000, Aalborg, Bonnensensgade (ved indgangen)</p>
                            <a href="https://www.google.com/" class="more-button">Læs mere..</a>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="image-section img-three">
                            <img src="assets/bowling.jpeg" alt="Image" style="height:222px; width: 355px;">
                        </div>
                        <div class="content">
                            <p>MA. 11. JULI KL 13:00</p>
                            <h3>Bowling i Seaport</h3>
                            <p>9000, Aalborg, Strandvejen 7</p>
                            <a href="https://www.google.com/" class="more-button">Læs mere..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

    </div>
</div>

