.panel {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns:322px auto;
    grid-template-rows: 80px 200px;
    column-gap: 20px;
}

.left-panel {
    height: 280px;
    background-color: #e7bcbc;
}

.right-panel {
    height: 280px;
    background-color: #afafaf;
}


