/* General styling for the navigation bar container */
.navbar-container{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 200px auto 100px;
    padding: 15px;
    background-color: #fbfbfb;
}

/* Styling for the logo container (item1) */
.nav-logo {
    align-content: center;   
}

/* Styling for the navigation icons container (item2) */
.nav-buttons {
    align-content: center;
    text-align: right;
    margin-right: 10px;
}

/* Styling for each icon within the navigation icons container */
.nav-buttons .icon {
    margin-right: 10px; 
}

/* Styling for the profile icon container (item3) */
.nav-profile{
    align-content: center;
    margin-left: 10px;
}

         
    
    


