
<div class="navbar-container">
    <div class="nav-logo">
        <a routerLink="/"><img src="assets/greetly-logo.png" alt="logo" style="width: 177px;"></a>
    </div>

    <div class="nav-buttons">
        <a routerLink="/favourites" class="icon"><img src="assets/favourites-icon.png" alt="Favourites" style="width: 30px;"></a>
        <a routerLink="/chat" class="icon"><img src="assets/chat-icon.png" alt="Chat" style="width: 30px;"></a>
        <a routerLink="/notification" class="icon"><img src="assets/notification-icon.png" alt="Notifications" style="width: 30px;"></a>
    </div>

    <div class="nav-profile">
        <a routerLink="/profile" class="icon"><img src="assets/profile-icon.png" alt="Profile" style="width: 60px;"></a>
    </div>
</div>