

<div class="navbar">


    <div class="navbar-logo">
        <a routerLink="/"><img src="assets/greetly-logo.png" alt="logo"></a>
    </div>

    <div class="navbar-links">
        <div class="navbar-links-favourites">
            <a routerLink="/favourites" class="icon"><img src="assets/heart-icon.png" alt="Favourites" style="width: 30px;"></a>    
        </div>
        <div class="navbar-links-chat">
            <a routerLink="/chat" class="icon"><img src="assets/message-icon.png" alt="Chat" style="width: 30px;"></a>
        </div>
        <div class="navbar-links-notification">
            <a routerLink="/notification" class="icon"><img src="assets/notification-icon.png" alt="Notifications" style="width: 30px;"></a>
        </div>
        
        <a routerLink="/profile" class="icon"><img src="assets/profile-icon.png" alt="Profile" style="width: 60px;"></a>
    </div>

</div>