.navbar-container{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 200px auto 100px;
    padding: 15px;
    background-color: #fbfbfb;
}

.item1 {
    align-content: center;   
}

.item2 {
    align-content: center;
    text-align: right;
    margin-right: 10px;
}

.item2 .icon {
    margin-right: 10px; 
}

.item3{
    align-content: center;
    margin-left: 10px;
}

         
    
    


