
<div class="navbar-container">
    <div class="item1">
        <a routerLink="/"><img src="assets/greetly-logo.png" alt="logo" style="width: 177px;"></a>
    </div>

    <div class="item2">
        <a routerLink="/favourites" class="icon"><img src="assets/heart-icon.png" alt="Favourites" style="width: 30px;"></a>
        <a routerLink="/chat" class="icon"><img src="assets/message-icon.png" alt="Chat" style="width: 30px;"></a>
        <a routerLink="/notification" class="icon"><img src="assets/notification-icon.png" alt="Notifications" style="width: 30px;"></a>
    </div>

    <div class="item3">
        <a routerLink="/profile" class="icon"><img src="assets/profile-icon.png" alt="Profile" style="width: 60px;"></a>
    </div>
</div>