<div class="min-side">

    <div class="profil-container">
        <div class="profil-header">
           <div class="side"> 
                <h1>Min side</h1>

            <div class = "rediger-profil-icon">
                <a routerLink= "rediger-profil-icon" class="icon"><img src="assets/rediger-profil-icon.svg" alt= "Attending"></a>
            </div>
            </div>
            <div class= "velkommen">
                <h2>Velkommen Jasmin!</h2>
            </div> 
                <div class="line-profil-header"></div>
        </div>  

        <div class="jasmin-hansen">
            <div class= "profil-box">

                <div class="profil-img">
                    <a routerLink= "Profil-image" class="pic"><img src="assets/Profil-img.svg" alt= "Attending"></a>
                </div>

                <div class= "name"> 
                    <h3>Jasmin Hansen</h3> 
                </div>

            <div class = "birthday-cake-icon">
                <a routerLink= "birthday-cake-icon" class="pic"><img src="assets/birthday-cake-icon.svg" alt= "Attending"></a>
            </div>

            <div class = "år-adresse">
                <div class = "år-24">
                    <p>24</p>
                </div>

            <!-- <div class="location-icon">
                <a routerLink= "location-icon" class="pic"><img src="assets/location-icon.svg" alt= "Attending"></a>
            </div> -->

                <div class = "adresse-9000">
                    <p>9000</p>
                </div>
            </div>

            <div class= "line-profil-box"></div>

            
            <div class="stats-box">
                <div class="venner">
                    <p>Venner</p>
                </div>
                <div class="har-deltaget-i">
                    <p>Har deltaget i</p>
                </div>
                <div class="har-oprettet">
                    <p>Har oprettet</p>
                </div>
                <div class="medlem-siden">
                    <p>Medlem siden</p>
                </div>
                        
            </div>

            <div class = "vertical-line"></div>

            <div class = "number-box">
                <div class = "venner-69">
                    <p>69</p>
                </div>
                <div class = "har-deltaget-i-23">
                    <p>23</p>
                </div>
                <div class = "har-oprettet-1">
                    <p>1</p>
                </div>
                <div class = "medlem-siden-2023">
                    <p>2023</p>
                </div>

            </div>

            <div class ="biografi-box">
            
                <div class="biograf">
                    <p>Biografi</p>
                </div>
                

                <div class ="bio-tekst">
                    <p>Jeg er flyttet til Aalborg i august, for at starte på studie.</p>
                    <p>Jeg søger derfor bekendtskaber udenfor studiet og er</p>
                    <p>meget åben for at prøve nye måder at være sammen på.</p>
                </div>
            
            </div>

            </div>
            
            <div class="interesser-container">
                <div class="interesser-heading">
                    <p>Interesser</p>
                </div>
                
                <div class="interesser-category">
                    <div class="sport-og-motion-category">Sport og motion</div>
                    <div class="natur-category">Natur</div>
                    <div class="krea-category">Krea</div>
                </div>
        
            </div>
        </div>
    </div>


    <div class="arrangeret-container">
            <h2>Arrangeret af dig</h2>
            <div class="left-side">
                <div class="left-img">
                    <a routerLink="/arrangeret" class="pic"><img src="assets/Drinks.svg" alt="Attending" ></a>
                </div>
            </div>
            <div class="right-side">   
                <div class="date">ON. 3. APRIL KL. 19:00</div>
                <div class="event-discription">Fælles drink aften</div>
                <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
                <div class="beskrivelse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex ...</div>
            </div>
    </div>
    <div class="favoritter-container">
        <h2>Favoritter</h2>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/Drinks.svg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex ...</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/Drinks.svg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex ...</div>
        </div>
    </div>

    <div class="deltager-container">
        <h2>Deltager i</h2>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/Drinks.svg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex ...</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/Drinks.svg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex ...</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/Drinks.svg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex ...</div>
        </div>
    </div>
</div>