<div class="min-side">
    <div class="profil-container"></div>
    <div class="arrangeret-container">
            <h2>Arrangeret af dig</h2>
            <div class="left-side">
                <div class="left-img">
                    <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
                </div>
            </div>
            <div class="right-side">   
                <div class="date">ON. 3. APRIL KL. 19:00</div>
                <div class="event-discription">Fælles drink aften</div>
                <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
                <div class="beskrivelse">Beskrivelse</div>
            </div>
    </div>
    <div class="favoritter-container">
        <h2>Favoritter</h2>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
    </div>

    <div class="deltager-container">
        <h2>Deltager i</h2>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
    </div>
</div>