<div class="min-side">

    <div class="profil-container">
        <div class="profil-header">
           <div class="side"> 
                <h1>Min side</h1>
            </div> 
            <div class= "velkommen">
                <h2>Velkommen Jasmin!</h2>
            </div> 
                <div class="line-profil-header"></div>
        </div>  

        <div class="jasmin-hansen">
            <div class= "profil-box">
                <div class="profil-img">
                    <a routerLink= "Profil-image" class="pic"><img src="assets/Profil-img.svg" alt= "Attending"></a>
                </div>
                <div class= "name"> 
                    <h3>Jasmin Hansen</h3> 
                </div>
                <div class= "line-profil-box"></div>
                <div class="stats-box">
                    <div class="venner">
                        <p>Venner</p>
                    </div>
                    <div class="har-deltaget-i">
                        <p>Har deltaget i</p>
                    </div>
                    <div class="har-oprettet">
                        <p>Har oprettet</p>
                    </div>
                    <div class="medlem-siden">
                        <p>Medlem siden</p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="arrangeret-container">
            <h2>Arrangeret af dig</h2>
            <div class="left-side">
                <div class="left-img">
                    <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
                </div>
            </div>
            <div class="right-side">   
                <div class="date">ON. 3. APRIL KL. 19:00</div>
                <div class="event-discription">Fælles drink aften</div>
                <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
                <div class="beskrivelse">Beskrivelse</div>
            </div>
    </div>
    <div class="favoritter-container">
        <h2>Favoritter</h2>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
    </div>

    <div class="deltager-container">
        <h2>Deltager i</h2>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
        <div class="left-side">
            <div class="left-img">
                <a routerLink="/arrangeret" class="pic"><img src="assets/drinks.jpg" alt="Attending" ></a>
            </div>
        </div>
        <div class="right-side">   
            <div class="date">ON. 3. APRIL KL. 19:00</div>
            <div class="event-discription">Fælles drink aften</div>
            <div class="address">Borgers Vej 57, 4.tv, 9000 Aalborg</div>
            <div class="beskrivelse">Beskrivelse</div>
        </div>
    </div>
</div>