body {
    margin: 10px;
  }
  
  .boxHeader {
    background-color: #d1c7c7;
    box-sizing: content-box;
    height: 130px;
    margin-top: 5%;
    padding: 0% 45px;
    padding-bottom: 40% 10px;
    font-size: 40px ;
    font: bold;
  }

  .textUnderBoxH {
    background-color: #d1c7c7;
    box-sizing: content-box;
    height: 10px;
    padding-bottom: 15%;
    padding: 0% 45px;
    margin-top: -88px;
    font-size: 20px ;
    font-style: italic;
  }

  .boxUnderH {
    background-color: #e7e7e7;
    box-sizing: content-box;
    height: 40px;
    width: 523px;
    margin-top: 10%;
    padding: 0% 45px;

  }

  .boxSidebar {
    background-color: #e7e7e7;
    box-sizing: content-box;
    height: 50px;
    margin-top: 5%;
    padding: 0% 45px;
  }

  .boxSidebar2 {
    background-color: #e7e7e7;
    box-sizing: content-box;
    height: 50px;
    margin-top: 5%;
    padding: 0% 45px;
  }

  .boxSidebar3 {
    background-color: #e7e7e7;
    box-sizing: content-box;
    height: 50px;
    margin-top: 5%;
    
  }

  
 