<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login page</title>
</head>
<body>
<div class="flex-container">
  <div class="img-container">
    <img src="assets/greetly-logo-big.png" alt="logo" style="width: 350px; height: auto;">
  </div>
  
  <form action="/login" method="post" class="container" style="width: 350px;">
    <input type="text" placeholder="Brugernavn" name="username" id="username" required style="border-radius: 8px;">
    <input type="password" placeholder="Adgangskode" name="password" id="password" required style="border-radius: 8px;">
    <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember" > Husk mig
      </label>
    <label style="display: block; border-bottom: 1px solid black;"></label>
    <!-- opret bruger knap -->
    <button onclick="document.getElementById('id01').style.display='block'" style="width: 50%;">Opret bruger</button>
    <span class="psw">Glemt <a href="#">adgangskode?</a></span>
  </form>
</div>
<img src="assets/step-by-step.png" alt="step-by-step" style="width: 65%; display: block; margin: 0 auto; padding-bottom: 200px;">

<!-- opret bruger pop-up -->
<div id="id01" class="modal">
  <div class="flex-container" style="padding-bottom: 200px;">
  <div class="modal-content">
    <span class="close" onclick="document.getElementById('id01').style.display='none'">&times;</span>
    <h1>Opret bruger</h1>
    <hr>
    <form class="modal-form"> <!-- udfyld felter opret bruger -->
      <input type="text" placeholder="Fulde navn" required>
      <input type="text" placeholder="Email adresse">
      <input type="text" placeholder="Brugernavn" name="brugernavn" required>
      <input type="password" placeholder="Adgangskode" name="psw" required>
      <input type="password" placeholder="Adgangskode" name="psw-repeat" required>
      <input type="date" style="padding: 8px; width: 93.5%; margin-top: 10px;">  <!-- styling er ikke optimal -->
    <div style="margin-top: 12px; margin-left: ;"> <!-- checkbox køn -->
      <input type="checkbox" > Kvinde
      <input type="checkbox" > Mand
     </div>
      
      <div class="clearfix">  <!-- rydder op på floating elements -->
  <!-- opret bruger knap -->
        <button type="submit" class="signupbtn" style="margin-bottom: 15px; margin-top: 10px;">Opret bruger</button>
  <!-- horizontal linje -->
        <label style="display: block; border-bottom: 1px solid black;"></label>
        
  <!-- Har du allerede en konto? knap -->
      <div class="botton-container">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" style="opacity: 0.7;" class="cancelbtn">Har du allerede et login?</button>
      </div>
      </div>
    </form>
  </div>
</div>
</div>
</body>
</html>
