label {
    display: block; /* Viser label som et blokelement */
    text-align: center; /* Venstrestiller teksten i label */
    margin-bottom: 5px; /* Afstand under label */ }

.psw {
  display: block; /* Ændrer til blok for at stå på sin egen linje */
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Flexbox styles for form and image container */
.flex-container {
  display: grid;
  justify-content: center;
  align-items: center;

}

/* login container styles */
.container {
  width: 1145px;
  height: 1279px;
  background-color: #FBFBFB;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 12px; /* runde hjørner */
  padding: 20px;
  margin-left: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* drop shadow */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

/* Input and button styles */
input[type=text], input[type=password], button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
    background-color: #31572C;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 17px;
    width: 202px;
    height: 47px;
    font-size: 20px;
    grid-row: 3;        /* Position button in the third row */
    justify-self: right; /* Center horizontally in its cell */
    margin-right: 23px;
}

button:hover {
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}
/* opret bruger pop-up styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 50px;
}

.modal-content {
  background-color: #FBFBFB;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  width: 25%;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.panels {
    display: grid;
    grid-template-columns: 412px 661px; /* Widths of left and right popup respectively */
    grid-gap: 72px; /* Optional: space between columns */
}
.popup-header {
    background-color: aqua; 
    width: 1145px;
    height: 127px;
    padding-left: 20px;
    display: grid; /* Use grid layout */
    grid-template-columns: auto auto; /* Adjust the proportion as needed, auto auto splits the space */
    align-items: center; /* Vertically center all items */
    justify-content: space-between; /* Adjust the space between the two sections */
}

.left-popup {
    background-color: blueviolet;
    width: 412px;
    height: 1113px;
}

.right-popup {
    background-color: #333;
    width: 661px;
    height: 1113px;
    display: grid;                    /* Using grid layout */
    grid-template-rows: auto 1fr auto; /* Three rows: for the content, spacing, and the button */
    grid-template-columns: 100%;      /* Full width */
    place-items: center;              /* Center items horizontally */
}

.content-text {
    width: 603px;
    height: 554px;
    background-color: #f3f3f3;
    justify-self: center; 
}

.right-popup-pic {
    display: grid; /* Set the container as a grid */
    width: 603px;
    height: 375px;
    background-color: #c6c6c6;
    margin-top: 33px;
    border-radius: 15px;
    padding-top: 21px; /* Add padding at the top */
    align-items: start; /* Align grid items at the start vertically */
    justify-content: end; /* Align grid items at the end horizontally */
    padding-right: 19px;
}

.popup-header-icons {
    
}