<div class="footer-and-logo">
    <div class="footer-logo">
        <img src="assets/greetly-logo.png" alt="Footer logo" style="width: 197px;">
    </div>
    <div class="footer-and-quote">
        <div class="footer-and-greetly">
            <div class="greetly">
                <img src="assets/greetly.svg" alt="Footer greetly" style="width: 470px;">
            </div>
                
            <div class="footer-info">
                <div class="footer-info-left">
                    <div class="footer-info-left-text">
                        <ul>
                            <li><a routerLink="/aboutUs" class="txt">Om os</a></li>
                            <li><a routerLink="/contact" class="txt">Kontakt</a></li>
                            <li><a routerLink="/faq" class="txt">FAQ</a></li>
                            <li><a routerLink="/politics" class="txt">Privatlivspolitik</a></li>
                        </ul>
                    </div>
                    
                </div>
                <div class="footer-info-right">
                    <div class="footer-info-right-text">
                        <ul>
                            <li><a routerLinks="/profile" class="txt">Min profil</a></li>
                            <li><a routerLinks="/favourites" class="txt">Favoritter</a></li>
                            <li><a routerLinks="/rules" class="txt">Ordenregler</a></li>
                            <li><a routerLinks="/logout" class="txt">Log Ud</a></li>
                        </ul>
                    </div>
                
                    
                </div>
            </div>
                
                
           
        </div>
        <div class="footer-quote">
            <div class="quote">
                <img src="assets/greetly-quote.png" alt="logo" style="width: 690px;">
            </div>
            
        </div>
    </div>
    
    
</div>
