.footer {
    position: static;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #31572C;
    background-color: #fbfbfb;
    text-align: center;
    padding: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.footer-info-right,
.footer-info-left {
    padding: 10px;
    border-left: 1px solid #31572C;
    height: 100%;
    display: inline-flex;
    margin-left: 124px;
    margin-top: 13px;
    
}

.footer-info-left-text, 
.footer-info-right-text{
    padding-top: 13px;
}

.footer-logo {
    width: 30px;
    height: 30px;
}

ul {
    list-style-type: none;
    margin: 01;
    padding: 0;
    overflow: hidden;
}

.footer-and-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-and-quote {
    display: flex;
    background-color: aqua;
}


.footer-and-greetly {
    display: flex;
    flex-direction: column;
}
