.footer {
    position: absolute;
    border-top: 1px solid #31572C;
    background-color: #ff0000;
    text-align: center;
    padding: 10px;
    bottom: 0;
  }

.footer-info-right,
.footer-info-left {
    padding: 10px;
    border-left: 1px solid #31572C;
    height: 100%;
    display: inline-flex;
}

ul {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}
